:root{
    --light-color: #C8EBFF;
    --light-color: #000000;

    --dark-color: #ff003c;
    --second-dark-color: #00b1ff;
    

    --black-color: #212529;
    --white-color: #fff;

    --black-second: #1f2022;
}