.container-footer{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.info-page{
    
    width: 300px;
    margin: 20px 10px;
    padding: 20px 30px;
}
.info-page p{
    margin-top: 20px;
}

.page-links{
    
    margin: 20px 20px;
    padding: 20px 40px;
}
.page-links ul{
    margin-top: 20px;
    list-style: none;
}
.page-links ul li{
    margin: 20px 0;
}



